html{min-height:100%;position:relative;}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Segoe UI", "Arial", "Noto Sans", sans-serif !important;
}

.content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.title {
  margin-top: 10rem;
  margin-bottom: 40px;
  color: #3d3e40;
  font-size: 90px;
  line-height: 96px;
  font-weight: 800;
  text-align: center;
}

.subtitle {
  font-size: 50px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
}

.explanation {
  font-size: 22px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
}
.mainImg {
  height: auto;
  margin-top: 60px;
  border: 1px solid #eceef1;
  border-radius: 6px;
  box-shadow: 1px 1px 60px 0 #e0e0e3;
  width: 1440px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.container {
  border: 1px solid #eceef1;
  border-radius: 20px;
  box-shadow: 1px 1px 20px 0 #e2e3e4;
  position: relative;
  float: left;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 50px 40px;
  display: inline;
  margin-bottom: 2rem;
  width: 100%;
}

.projects {
  position:absolute;
  max-width: 940px;
}

.toolinfo img {
  width: 100%;
}

.betawarning {
  position: absolute;
  left: 60px;
  top: -15px;
  display: inline-block;
  height: 30px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 15px;
  background-image: linear-gradient(90deg, #f35e85, #6f81f8);
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
}

.button:hover {
  background-image: linear-gradient(190deg, #8584ff, #5351fb 66%);
  box-shadow: 0 1px 15px 0 #d2d6da;
  transform: translate(6px, 0px);
}

.button {
  padding: 10px 20px;
  justify-content: space-around;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  border-radius: 4px;
  background-image: linear-gradient(190deg, #8584ff, #5351fb);
  box-shadow: 0 1px 15px 0 #e2e3e4;
  transition: transform 500ms cubic-bezier(.23, 1, .32, 1), box-shadow 500ms cubic-bezier(.23, 1, .32, 1);
  text-decoration: none;
  border: none;
  color: white;
}

#grey {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  background: rgba(0, 0, 0, 0.301);
  display: none;
  z-index: 999;
}

#installInstructions {
  background:white;
  z-index: 1000;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
  height: 11%;
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
}


button.copy {
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  margin: 0.5rem;
  color: white;
  outline: none;
  background: hsl(241deg 48% 47%);
  display: inline;
  margin-left: -0.8rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 2.5rem;
}

input.copy {
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  margin: 0.5rem;
  outline: none;
  background: hsl(241deg 48% 47%);
  color: white;
  display: inline;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: 2.5rem;
}

#logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  height: 5rem;
}
